<form class='mt-4' method='POST' action='/auth/register'>
  <div class='row mt-3'>
    <input type='text' class='form-control' placeholder='Username' id='username' name='username' />
  </div>
  <div class='row mt-3'>
    <input type='password' class='form-control' placeholder='Password' id='password' name='password' />
  </div>
  <div class='row mt-3'>
    <input type='date' class='form-control' placeholder='Date' id='date' name='date' />
  </div>
  <div class='row mt-3'>
    <input type='text' class='form-control' placeholder='Name' id='name' name='name' />
  </div>
  <div class='row mt-3'>
    <input type='number' class='form-control' placeholder='Identity' id='identity' name='identity' />
  </div>
  <div class='row mt-3'>
    <input type='number' class='form-control' placeholder='Phone' id='phone' name='phone' />
  </div>

  <button type='submit' class='btn btn-primary mt-2'>Register</button>
</form>